@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=PT+Sans:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');


:root {
	--font-size: 16px;
	--font-size-toc: 14px;
	--figcaption-font-size: 14px;
	--code-font-size: 12px;
	--line-height: 26px;
	--border-style: 1px solid #E8E8E8;
	--panel-width: 300px;
	--page-padding: 24px;
	--max-width: 760px;
	--icon-size: 20px;
}


* {
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	color: #333;
	text-decoration-skip: ink;
}

body {
	/* font-family: 'Raleway', sans-serif; */
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: var(--font-size);
	line-height: 28px;
	color: #333;
	max-width: 700px;
	margin: auto;
	/* background-color: #e9ebf2; */
}

em {font-style: italic;}

b {font-weight: 700;}

a img {
	border: none;
}

img {
	margin: 10px auto 10px auto;
	max-width: 100%;
	display: block;
}

video {
	margin: 10px auto 10px auto;
	max-width: 100%;
	display: block;
}

.tg-h-img {
	display: inline-block;
}

h1,h2 {
	font-weight: 700;
	line-height: 120%;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: 'PT Sans', sans-serif;
}

h3 {
	line-height: 120%;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	margin-top: 1.2em;
	margin-bottom: .3em;
}

h4 {
	line-height: 120%;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
}

strong {
  font-weight:600;
}

hr {
	width:40%;
	height: 1px;
	/* background:#738491; */
	background: #000;
	margin: 25px auto;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 28px;
}

h1 a,h2 a,h3 a, h4 a {
	text-decoration:none;
}

h1,h2 {
	margin-top:28px;
}

time {
	color: #738491;
	font-size: 15px;
}

.posts-list a, .nav a {
	text-decoration: none;
}

li {
	margin-left: 1.6rem;
}

ul li {
	margin-left: 1.2rem;
}

.date time, .entry-desc {
	margin-left:3px;
}

/* footer */
.footer-grid {
	font-size: .8rem;
	line-height: 1.6;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: .2rem;
}

.footer-info {
	width: auto
}

.footer-social {
	padding: .6rem 0;
	margin: 0 .4rem;
	box-sizing: inherit;
}

.footer-social a {
	display: inline-block;
	height: 1.6rem;
	text-align: center;
	width: 1.6rem;
	margin-right: 5px;
}

/* toc */
.toc-wrapper hr {
	width: 100%;
	background: #9faac6;
}

.toc_h2 {
	list-style: none !important;
	text-align: left !important;
	margin-left: 0 !important;
}

.toc-wrapper li {
	list-style: none;
}

.toc-wrapper li a {
	text-decoration: none;
}

.toc-wrapper li a:hover {
	background-color: #f6f6f6;
}

.toc_h3 {
	list-style: none;
	margin-bottom: 0 !important;
	margin-left: 1.2rem !important;
}

/* content */
.content {
	text-align: justify;
	width: 100%;
	font-size: var(--font-size);
	padding: 60px 0 80px;
}

.content h1, .content h2 {
	margin-bottom: 5px;
}
.content h2 {
	font-size: 25px;
	margin-bottom: 0.2em;
}
.content .entry-content {
  margin-top: 16px;
}

.content h1 {
  font-size: 30px;
}

.content p {
	font-size: var(--font-size);
	margin-bottom: 12px;
	margin-left: 1.2rem;
}

.content h3 {
	margin-left: 1.2rem;
}

.content blockquote {
	margin-left: 1.2rem;
}

.content ul {
	margin-left: 1.2rem;
	margin-bottom: 12px;
}

.content ul li {
	margin-bottom: 0.5rem;
}


.content ol {
	margin-left: 1rem;
	margin-bottom: 12px;
}

.content ol li {
	margin-bottom: 0.5rem;
}

.content figcaption {
	margin-right: 1.2rem;
	font-size: var(--figcaption-font-size);
	text-align: right;
	margin-top: -0.2em;
	font-style: italic;
}

.content figure {
	margin-bottom: 2em;
	margin-top: 1em;
	display: inline-block;
	width: 100%;
}

#sub-desc {
	margin-bottom: 2em;
}

#pre-code {
	padding-bottom: 0.1em;
}

.tg-header-img {
	visibility: collapse;
}

.tg-header-img img {
	display: contents;
}

.date {
	margin-top: -0.5em;
	margin-bottom: 0.5em;
}

/* post list */
.posts-list {
	margin:0 0 50px;
	margin-left: 0em!important;
}

.posts-list li a:hover, .nav a:hover {
	text-decoration: underline;
}

.posts-list li {
	list-style-type: none;
	margin:0 0 45px 15px;
	padding-bottom: 2em;
	border-bottom: 1px solid #9faac6;
}

/* notes list */
/* notes-list is a .content ul and we need to remove margin */
.notes-list {
	margin-left: 0em!important;
}

.notes-list h3 {
	padding-bottom: 0.2em;
	border-bottom: 1px solid #9faac6;
	margin-bottom: 1em;
}

.notes-list li {
	list-style-type: none;
	margin:0 0 2px 15px;
	padding-bottom: 1em;
}

.notes-list li a:hover, .nav a:hover {
	text-decoration: underline;
}

.notes-list {
	margin:0 0 50px;
}

.note-title {
	font-weight: bold;
	display: inline-block;
}

.note-desc {
	margin-left: 0.3em;
	display: inline-block;
}

/* nav */
.nav {
	text-align:center;
	position:static;
	margin-top:60px;
}

.nav h1 a {
	font-size: 35px;
	color: #333;
	line-height: 120%;
}

.nav h2 {
	margin-top: 0.3em;
	font-size: 20px;
	padding-bottom: 0.5em;
	color: #738491;
	font-weight: 400;
}

.nav h3 {
	margin-top: 0.3em;
	font-size: 18px;
	padding-bottom: 0.5em;
	color: #738491;
	font-weight: 400;
}

.nav ul {
  display: table;
  margin: 8px auto 0 auto;
}

.nav li {
  list-style-type: none;
  display: table-cell;
  font-size: var(--font-size);
  padding: 0 20px;
}

pre {
	font-family: FiraCode, monospace;
	font-feature-settings: "ss01" off,"ss02" off,"ss03" off,"ss04" on,"ss05" on,"ss06" on,"ss07" off, "ss08" on, "zero" on,"onum" off;
	font-stretch: normal;
	font-size: var(--code-font-size);
	letter-spacing: normal;
	color: #292926;
	line-height: 1.4em;
	margin-top: .9em;
	margin-bottom: .9em;
	padding: .5em;
	background-color: #f6f6f6;
	overflow: auto;
	direction: ltr;
	white-space: pre-wrap;
	position: relative;
	tab-size: 4;
	scrollbar-width: thin;
}

pre.sourceCode {
	position: relative;
}

pre code {
	display: block;
	scrollbar-width: thin;
	font-family: FiraCode, monospace;
	font-size: var(--code-font-size);
	font-feature-settings: "ss01" off,"ss02" off,"ss03" off,"ss04" on,"ss05" on,"ss06" on,"ss07" off, "ss08" on, "zero" on,"onum" off;
	font-stretch: normal;
	letter-spacing: normal;
	color: #292926;
	background-color: #f6f6f6;
	overflow: auto;
	word-break: break-word;
	white-space: pre-wrap;
}

code {
	scrollbar-width: thin;
	font-family: FiraCode, monospace;
	font-size: var(--code-font-size);
	font-feature-settings: "ss01" off,"ss02" off,"ss03" off,"ss04" on,"ss05" on,"ss06" on,"ss07" off, "ss08" on, "zero" on,"onum" off;
	font-stretch: normal;
	letter-spacing: normal;
	color: #292926;
	background-color: #f6f6f6;
	word-break: break-word;
}

p code {
	font-size: var(--font-size);
}

li code {
	font-size: var(--font-size);
}

.clipboard:hover {
	opacity: 1;
}

.sourceCode:hover .clipboard {
	display: block;
}

.clipboard {
	display: none;
	content: "  ";
	position: absolute;
	top: 0.3rem;
	right: 0.5em;
	height: 1em;
	color: inherit;
	border: none;
	opacity: 0.5;
	cursor: pointer;
	filter: invert(50.2%);
	width: 16px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill-rule='evenodd' d='M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
	height: 16px;
}

blockquote {
	font-stretch: normal;
	font-weight: 400;
	font-size: var(--font-size);
	line-height: 1.4em;
	color: #292926;
	opacity: .7;
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 15px;
	font-style: italic;
	word-wrap: break-word;
	border-left: 3px solid #000;
}

/* tables */
table {
	width: 100%;
	border: 1px solid #f4f4f4;
	margin-bottom: 2em;
	margin-left: 1.2rem;
}

th {
	font-weight: bold;
	padding: 4px;
	background-color: #f4f4f4; 
}

/* footnotes */
.footnote-ref {
	font-weight: bold;

	vertical-align: super;
	text-decoration: none;
	font-size: 16px;
}

.footnote-back {
	text-decoration: none;
}

.footnotes table {
	width: 100%;
	border: 1px solid #f4f4f4;
	font-size: var(--font-size-toc)!important;
	margin-bottom: 1.5em;
}

.footnotes th {
	font-weight: bold;
	padding: 4px;
	background-color: #f4f4f4; 
}

.even {
	background-color: #f6f6f6;
}

.footnotes table thead {
	font-weight: bold;
}

/* desktop */
@media (min-width: 750px) {
	.notes-list li div {
		display:flex;
		justify-content:space-between;
	}
}

@media (min-width: 1200px) {
	.toc-wrapper {
		float: left;
		font-size: var(--font-size-toc)!important;
		top: 1em;
		margin-top: 1.8em;
		left: 0;
		margin-left: -230px;
		position: sticky;
		width: 220px;
	}
	.toc-wrapper h2 {
		margin-top: 0;
		font-size: 20px!important;
	}

	.toc-wrapper li {
		list-style: none;
		margin: 0!important;;
	}
	.toc-wrapper hr {
	 display: none;
	}

	.toc_h2 {
		list-style: none;
		text-align: left;
		margin-left: 0 !important;
	}

	.toc_h3 {
		list-style: none;
		margin-bottom: 0 !important;
		margin-left: 1.2rem !important;
	}

}
/* mobile */
@media (max-width: 750px) {
	body {
		padding-left:20px;
		padding-right:20px;
	}
	/*.nav h1 a {
		font-size: 28px;
	}*/
	.nav li {
		font-size: 16px;
		padding: 0 16px;
	}
	.content {
		margin-top: 0;
		padding-top: 50px;
	}
	.content h1 {
		font-size: 25px;
	}
	.content h2 {
		font-size: 22px;
	}
	.posts-list li div {
		font-size: 12px;
	}
	pre.sourceCode {
		overflow: scroll;
	}
}

@media (max-width: 400px) {
	body {
		padding-left:20px;
		padding-right:20px;
	}
	/*.nav h1 a {
		font-size: 22px;
	}*/
	.nav h2 {
		font-size: 17px;
	}
	.nav li {
		font-size: 14px;
		padding: 0 12px;
	}
	.content {
		margin-top: 0;
		padding-top: 20px;
	}
	.content h1 {
		font-size: 20px;
	}
	.content h2 {
		font-size: 18px;
	}
	.posts-list li div{
		font-size: 12px;
	}
	pre.sourceCode {
		overflow: scroll;
	}
}

